{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUORUM | Home</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <a href="" class="logo">QUORUM</a>
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="#features">Features</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <button class="menu-toggle" aria-label="Toggle menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </nav>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1>Welcome to The Quorum</h1>
            <p>...of computer scientists</p>
        </div>
    </section>

    <!-- Features/Links Section -->
    <section id="features" class="features">
        <div class="container">
            <h2>TEST GROUND</h2>
            <div id="search-cont">
                <input type="text" id="search-box" placeholder=" search for a course material">
                <button type="button" id="search-btn">search</button>
                <div id="search-result">

                </div>
            </div>
            <div class="card-grid">
                 
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2026 quorum. All rights reserved.</p>
            <p>@FUTA-CSC '28</p>
            <ul class="footer-links">
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
            </ul>
        </div>
    </footer>

    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>